# CMake
build
devel
logs
install
log
.catkin_tools
cmake_build
package.xml

# Rust
rust_build
Cargo.lock

# Python
__pycache__
*.py[cod]
.pytest_cache/

# IDE
.vscode
.idea/
.codex/
.agents/
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Interface
onnxruntime
libtorch

# Mujoco
mujoco
MUJOCO_LOG.TXT

# Data
.cache
debug_logs/
*.log
*.bag
*.mcap
*.json

# temp
*.zip
*.tgz
*.tar.gz
temp_extract*/

# robot descriptions
rl_sar_zoo
